/* 

# FONT FACES
    - graphikMedium
    - graphikRegular
    - theinhardt
    - tiemmposHeadline

# 
    - #2B2C2E
    - #9FA2A7
    - #27282A
    - #848689
    - #3D3E41
    - #fff
*/

@font-face {
    font-family: graphikMedium;
    src: url(../fonts/Graphik-Medium.ttf);
}

@font-face {
    font-family: graphikRegular;
    src: url(../fonts/Graphik-Regular.woff);
}

@font-face {
    font-family: theinhardt;
    src: url(../fonts/Theinhardt-Lt.woff);
}

@font-face {
    font-family: tiemposHeadline;
    src: url(../fonts/TiemposHeadline-Semibold.woff);
}

:root {
    --graphikMedium: graphikMedium;
    --graphikRegular: graphikRegular;
    --theinhardt: theinhardt;
    --tiemposHeadline: tiemposHeadline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* STYLES FÜR DIE NAVIGATIONBAR */

body {
    max-width: 1900px;
}

nav {
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
}

.navigation-anchor-wrap {
    margin-left: 8em;
}

.navigation-anchor-wrap .navigation-anchor-wrap__anchor:not(:first-child) {
    padding-left: 10px;
}

.navigation-anchor-wrap .navigation-anchor-wrap__anchor {
    font-family: var(--graphikRegular);
    font-size: 0.9em;
    text-decoration: none;
    color: #27282A;
    transition: color 0.15s ease-in-out;
}

.navigation-anchor-wrap .navigation-anchor-wrap__anchor:hover {
    color: #848689;
}

.header__design-critique-logo {
    font-family: var(--tiemposHeadline);
    font-size: 1.4rem;
    margin-inline: auto;
    color: #27282A;
}

.header__get-started-button {
    border: 2px solid #27282A;
    color: #27282A;
    text-decoration: none;
    text-align: center;
    padding: 5px 40px;
    margin-right: 10em;
    font-size: 0.9em;
    font-family: var(--graphikMedium);
}

.header__get-started-button:hover {
    background-color: #27282A;
    color: #fff;
}

#header__toggle-dark-mode {
    margin-right: 100px;
    color: #27282A;
    transition: color 0.15s ease-in-out;
}

#header__toggle-dark-mode:hover {
    color: #848689;
}

/* STYLE FÜR DIE FRONTPAGE DER WEBSITE */

.heading-article {
    height: 20vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-family: var(--graphikRegular);
    font-size: 1.6rem;
    margin-bottom: 10px;
    text-align: center;
}

.background-img-article {
    background-image: url(../img/home_hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 73vh;
}

/* Um links und rechts einen festen Abstand zu erzeugen, wird eine feste Breite von 1400px für alle Sections nach der Frontpage gesetzt */

.dollars-section,
.deliverables-section,
.how-it-works-section,
.critique-section,
.percent-section,
.get-in-touch-section {
    width: 1200px;
    margin-inline: auto;
}

.deliverables-section_article__h2,
.how-it-works-section__article__h2,
.critique-section__article__h2,
.get-in-touch-section_h2 {
    font-family: var(--tiemposHeadline);
    font-size: 3.2em;
}

/* STYLE FÜR DIE ZWEITE SECTION DER PAGE */

.dollars-section {
    display: flex;
    margin-top: 120px;
}

.dollars-section .dollars-section__article-paragraph {
    font-family: var(--graphikMedium);
    font-size: 1.2em;
    line-height: 29px;
    width: 60%;
    margin-right: 60px;
}

.dollars-section__article {
    width: 200px;
}

.dollars-section .dollars-section__article__unit-dollar {
    font-family: var(--theinhardt);
    font-weight: 600;
    font-size: 3.2em;
}

.dollars-section .dollars-section__article__unit-dollar-subtext {
    font-family: var(--theinhardt);
    font-size: 1.2em;
    color: #848689;
    line-height: 18px;
}

/* STYLES FÜR DIE DRITTE SEITE DER PAGE */

.deliverables-section_article-img img {
    width: 500px;
}

.deliverables-section {
    display: flex;
    margin-top: 150px;
}

.deliverables-section_article {
    width: 45%;
    margin-left: auto;
}

.deliverables-section .deliverables-section_article__h2 {
    margin-bottom: 50px;
}

.deliverables-section .deliverables-section_article__h3 {
    font-family: var(--graphikMedium);
    margin-block: 20px;
    font-size: 1.2em;
}

.deliverables-section .deliverables-section_article__p {
    font-family: var(--theinhardt);
    font-size: 1.2;
    line-height: 22px;
}

.how-it-works-section {
    display: flex;
    margin-top: 150px;
    background-color: #f1f1f4;
}

.how-it-works-section__article-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%
}

.how-it-works-section__article-img img {
    width: 500px;
    height: 500px;

}

.how-it-works-section__article__h2 {
    margin-bottom: 15px;
}

.how-it-works-section__article_ol,
.how-it-works-section__article_p {
    font-family: var(--theinhardt);
    font-size: 1em;
    line-height: 22px;
    color: #848689;
    font-weight: 600;
}

.how-it-works-section__article {
    width: 60%;
    padding: 60px;
}

.how-it-works-section__article__ol {
    margin-bottom: 20px;
    line-height: 20px;
}

.how-it-works-section__article__ol-li {
    font-family: var(--theinhardt);
    margin-left: 50px;
    color: #848689;
    font-weight: 600;
}

.critique-section__article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 120px
}

.critique-section__article__h2 {
    margin-bottom: 25px;
}

.critique-section__article__p {
    font-family: var(--theinhardt);
    font-weight: 600;
    line-height: 30px;
    width: 50%;
    color: #9FA2A7;
}

.percent-section {
    display: flex;
    border-bottom: 1px solid #27282A;
}

.percent-section img {
    margin-block: -5% 80px;
    width: 620px;
}

.percent-section__p {
    padding-left: 180px;
    font-family: var(--tiemposHeadline);
    line-height: 35px;
    color: #9FA2A7;
}

.img-28 {
    margin-top: 120px;
    margin-bottom: -20px;
}

.get-in-touch-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

.get-in-touch-section_flex-row {
    display: flex;
    justify-content: center;
    margin-block: 50px 50px;
}

.get-in-touch-section_flex-row img {
    width: 130px;
}

.get-in-touch-section_flex-row p {
    margin-top: auto;
    font-family: var(--graphikRegular);
}

.get-in-touch-section_flex-row a {
    font-family: var(--tiemposHeadline);
}

.get-in-touch-section_flex-row a {
    font-family: var(--graphikMedium);
    text-decoration: none;
    color: #27282A;
}

@media  (max-width: 1200px) {
    .dollars-section,
    .deliverables-section,
    .how-it-works-section,
    .critique-section,
    .percent-section,
    .get-in-touch-section { 
        width: 1000px;
     }
}

@media  (max-width: 1024px) {
    .dollars-section,
    .deliverables-section,
    .how-it-works-section,
    .critique-section,
    .percent-section,
    .get-in-touch-section { 
        width: 900px;
        align-items: center;
    }
     .dollars-section__article-paragraph {  margin-right: 0;
                                            text-align: center;
                                            margin-block-end: 50px;}
     .deliverables-section_article { margin-left: 40px; width: 40%;}

    .how-it-works-section__article-img img,
    .deliverables-section_article-img img {
        width: 370px;
        height: auto;
    }
}

@media  (max-width: 768px) {
    .dollars-section,
    .deliverables-section,
    .how-it-works-section,
    .critique-section,
    .percent-section,
    .get-in-touch-section { 
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: auto;
    }

    .dollars-section {margin-top: 0}
    .heading-article {height: 17vh;}
    .background-img-article {height: 50vh; margin-bottom: px;}
}